<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sqlite">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="The Credit Management App"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".amount"  android:label="Transfer"></activity>
        <activity android:name=".transdata"   android:label="Transfer to"/>
        <activity android:name=".details"  android:label="Details" />
        <activity android:name=".loadusers"  android:label="List Of users" />
        <activity android:name=".adduser"   android:label="Add User"/>
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>